<launch>
        <arg name="path" value="$(find koco_core_flexbe_states)/test/seq_move_joints_from_db" />
        <arg name="test_name" value="seq_move_joints_from_db" />

        <include file="$(find flexbe_testing)/test/flexbe_rostest.test">
                <arg name="package" value="$(arg test_name)" />
                <arg name="testcases" value="
                        $(arg path)/seq_move_joints_from_db_import.yml
                " />
        </include>
</launch>